body {
    color: white;
    background-color: #14259a;   
    font-family: Helvetica;
    font-size: 2em;
}

.title{
    
}

.boton {
    margin-top: 20px;
    margin-left: 1em;
    border-radius: 4px;
    border-color: black;
    color: black;
    background-color: white;
    font-size: 1.2em;
}

.inputContainer {
    display: -webkit-inline-box;
}

.input {
    height: 3em;
    width: 80vh;
    margin: 10px 2em;
    display: inline-flex;
    border-radius: 5px;
    font-size: 0.6em;
}

.imageContainer {
    display: flex;
    margin-right: 0px;
}

.img {
    float: right;
    width: 75%;
    margin-left: 40px;
    margin-right: 20px;
}